.calculator {
    margin-top: 15%;
    border: solid 1px #000;
    padding: 20px;
    background-color: #dd2bd7;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
  }

  .btn {
    width: 60px;
    height: 50px;
    margin: 5px;
    box-shadow: 2px 2px 2px #000;
  }

  .clear {
    width: 130px;
  }

  .enter {
    height: 110px;
  }

  .zero {
    width: 130px;
  }

  .screen {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px #000;
    box-shadow: 2px 2px 2px #000;
  }
